@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@mons : 'Montserrat', sans-serif;

html,body{
    position: relative;
    overflow-x: hidden;
    background: #f8f5ef;
}

h1,h2,h3,h4,h5,h6,p,a{
    font-family: @mons;
    margin-bottom: 0;
}

.prelative.container{
    max-width: 1480px;
}

section.home-sec-1{
    padding-top: 120px;
    .title-top{
        padding-bottom: 45px;
        margin: 0 auto;
        p{
            font-size: 28px;color: #505050;font-weight: 700;
        }
    }
    .title{
        padding-top: 20px;
        p{
            text-align: center;
            font-size: 24px;color: #2b275c;font-weight: 700;
        }
    }
    .lihat_kat{
        text-align: center;
        a{
            text-transform: uppercase;
            text-decoration: none;
            color: #747474;font-weight: 700;text-align: center;font-size: 10px;
        }
    }
}

section.home-sec-2{
    padding-top: 120px;
    .title{
        padding-bottom: 45px;
        margin: 0 auto;
        p{
            text-align: center;
            font-size: 28px;color: #505050;font-weight: 700;
        }
    }
    .box-content{
        // padding-bottom: 50px;
        .judul{
            padding-top: 20px;
            p{
                font-size: 15px;font-weight: 700;
                color: #2b275c;text-align: center;
            }
        }
        .lihat{
            text-align: center;
            padding-bottom: 20px;
            a{
                text-transform: uppercase;
                text-decoration: none;
                color: #747474;font-weight: 700;text-align: center;font-size: 10px;
            }
        }
    }
    .lihat-semua{
        // margin: 0 auto;
        text-align: center;
        margin-top: 50px;
        a{
            text-decoration: none;
            text-transform: uppercase;
            background: #2b275c;
            padding: 10px 25px;
            font-size: 14px;color: #ffffff;
        }
    }
}