
.outers_blockdetail_inprddetail{
	
	.box-image{
		img{
			border: 1px solid #e7e7e7;
		}
	}

	.descriptions{
		font-family: @play;
		.title{
			p{
				color: #ed1c24;
				font-size: 25px; font-weight: 700;
			}
			display: block;
			padding-bottom: 1rem;
		}
		.item-code{

		}
		.item-code p,
		.item-code{
			font-size: 14px; font-weight: 400; color: #000;
		}
		
		.product-detailsss{
			.title{

			}
			.isi{

			}
		}
		.hr-garis-prod{
			background-color: #e7e7e7;
			height: 1px;
			width: 100%;
			margin: 1rem 0;
		}
		.prodtit{}
		.prodisi{}
		clear: both;
	}

}